<section>
  <h2>Resistance: {{ohms}} +/- {{tolerance}}%</h2>

  <p>Select bands</p>

  <table>
    <thead>
      <tr>
        <th>Digits</th>
        <th>Multiplier</th>
        <th>Tolerance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select name="first-digit" id="first-digit-select" class="significant-digit">
            <option *ngFor="let digitPair of significantDigitsObject | keyvalue" [value]="digitPair.value">
              {{digitPair.key}}</option>
          </select>
          <select name="second-digit" id="second-digit-select" class="significant-digit">
            <option *ngFor="let digitPair of significantDigitsObject | keyvalue" [value]="digitPair.value">
              {{digitPair.key}}</option>
          </select>
          <select name="third-digit" id="third-digit-select" class="significant-digit">
            <option *ngFor="let digitPair of significantDigitsObject | keyvalue" [value]="digitPair.value">
              {{digitPair.key}}</option>
          </select>
        </td>
        <td>
          <select name="multiplier-select" id="multiplier-select">
            <option *ngFor="let multiplierPair of multipliersObject | keyvalue" [value]="multiplierPair.value">
              {{multiplierPair.key}}</option>
          </select>
        </td>
        <td>
          <select name="tolerance-select" id="tolerance-select">
            <option *ngFor="let tolerancePair of tolerancesObject | keyvalue" [value]="tolerancePair.value">
              {{tolerancePair.key}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</section>
