<section>
  <h2>Resistance: {{resistorService.ohms}} +/-{{resistorService.tolerance}}%</h2>

  <p>Select bands</p>

  <table>
    <thead>
      <tr>
        <th>Significant Digits</th>
        <th>Multiplier</th>
        <th>Tolerance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select [(ngModel)]="resistorService.firstDigitColor" name="first-digit" id="first-digit-select"
            class="significant-digit">
            <option *ngFor="let color of resistorService.significantDigitColors" [value]="color">
              {{color}}</option>
          </select>
          <select [(ngModel)]="resistorService.secondDigitColor" name="second-digit" id="second-digit-select"
            class="significant-digit">
            <option *ngFor="let color of resistorService.significantDigitColors" [value]="color">
              {{color}}</option>
          </select>
          <select [(ngModel)]="resistorService.thirdDigitColor" name="third-digit" id="third-digit-select"
            class="significant-digit">
            <option *ngFor="let color of resistorService.significantDigitColors" [value]="color">
              {{color}}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="resistorService.multiplierColor" name="multiplier-select" id="multiplier-select">
            <option *ngFor="let color of resistorService.multiplierColors" [value]="color">
              {{color}}</option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="resistorService.toleranceColor" name="tolerance-select" id="tolerance-select">
            <option *ngFor="let color of resistorService.toleranceColors" [value]="color">
              {{color}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</section>
